*{
    background-color: white;
    text-decoration: none;
    font-family: monospace;
}
.states{
    text-align: center;
    margin:20px;
    
}
button{
    background-color: cadetblue;
    width: 30%;
    height:60px;
    margin-right: 10px;
    font-size: 2rem;
}


@media screen and (max-width: 36rem)  {
    *{
        font-size: 10px;
    }
    
}