
h1{
    color:chartreuse;
    text-align: center;
    background-color: white;
}
.logo img{
    color: orange;
    margin:15px;
}

.h{
    background-color: orange;
}
.container{
    display:flex;
    flex-direction: row;
    gap:0.5rem;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    color:red;
}
.container2{
    
    position:absolute;
    transform: translate(-5%,-22%);
    top: 60%;
    left: 50%;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}


.container3 {
    transform: translate(30%,100%);
    padding:1rem;
    
}
.container3 ul li{
    transform: translate(30%,100%);

}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
    width: 100%;
}


@media screen and (max-width: 36rem)  {
    *{
        font-size: 16px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .logo img{
        color: orange;
        height: 450px;
        width:386px;
        margin-left: 10px;
        margin-right: 7rem;

    }
    .container2{
        transform: translate(-50%,270%);
        margin-top: -45rem;
        width:80%;
    }
    .wrapper img{
        width: 100%;
    }

}


