<div class="h">
    <br>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <div class="container">
        <div class="logo">
            <img style="margin-right: 2rem;" src="assets/logo.jpg">
        </div>
        <div class="container2">
            <h2 style="text-align: center;font-family: monospace;">Photos</h2>
            <div class="wrapper" >
                <img src="assets/im1.png">
                <img src="assets/i1.jpg">
                <img src="assets/i6.png">
                <img src="assets/i2.jpg">
                <img src="assets/i3.jpg">
                <img src="assets/i4.jpg">
            </div>
        </div>
    </div> 
    <div class="r">
        
    </div>
    
</div>
    
   


