<div class="h">
    <br>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <div class="container">
        <div class="logo">
            <img src="assets/logo.jpg">
        </div>
        <div class="text">
            <h2>PAARAMPARYA VAIDYA MAHA SANGHAM </h2>
            <p>15<sup>th</sup>Anniversary Celebrations<br>
                 4-5<sup>th</sup>March-2024<br>
                 <i style='font-size:24px' class='fas'>&#xf3c5;</i>Youth Hostel,<br>Tirupati
                </p>
        </div>
    </div> 
        <br>
       <h2 style="text-align: center;margin-top: 2rem;">Meeting Photos</h2>
       <div class="container2">
        <div class="wrapper">
            <img src="assets/i1.jpg">
            <img src="assets/i2.jpg">
            <img src="assets/i3.jpg">
            <img src="assets/i4.jpg">
        </div>
        
    </div>
   
</div>

